<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="jumbotron">
  <h2>
    {{ title }}
  </h2>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <div class="form-group col-xs-12 col-sm-12 col-md-4">
      <label for="from">From Date:</label>
      <input type="date" class="form-control" id="from" [(ngModel)]="from">
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-4">
      <label for="to">To Date:</label>
      <input type="date" class="form-control" id="to" [(ngModel)]="to">
    </div>
    <div id="submit_button" class="form-group col-xs-12 col-sm-12 col-md-4">
      <button type="button" class="btn btn-primary" (click)="callAPI()">Submit</button>
    </div>    
  </div>
</div>
<hr>
<div class="row">
  <app-adr-dashboard [chartData]="adrData"></app-adr-dashboard>
</div>



